  <form action="/celebrities/create" method="POST">
  
  <label for="name">Name</label>
  <input type="text" name="name">
  
  <label for="ocupation">Ocupation</label>
  <input type="text" name="ocupation">
  
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase">
  
  
  <button type="submit">CREATE NEW CELEBRITY</button>
  
  
  </form>
  
  