<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<br>
<a href="/celebrities/create"><button> Add a new celebrity</button></a>
<br>
<br>
<a href="/movies/create"><button> Add a new movie</button></a>
<br>
<br>
<a href="/celebrities"><button>See All Celebrities</button></a>
<br>
<br>
<a href="/movies"><button>See All Movies</button></a>